---
layout: default
---

<div class="container p-b-lg">
  {% for post in site.posts %}
    <article class="card m-b">
      <div class="card-block">
        <h1>{{post.name}}</h1>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <ul>
          {% if post.slides != 'inactive' %}
            <li>
              <i class="fa fa-sticky-note-o"></i>
              <a href="{{ post.slides }}" target="_blank">{{ post.slides }}</a>
            </li>
          {% endif %}
          {% if post.twitter != 'inactive' %}
            <li>
              <i class="fa fa-twitter"></i>
              <a href="http://www.twitter.com/{{ post.twitter }}" target="_blank">@{{post.twitter}}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </article>
  {% endfor %}
</div>
